@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}
.logo-link{
    border-radius: 10px;
}
/*header*/
body{
    padding: 0px 5%;
    background-color: #000;
    overflow-x: hidden;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10px;
}
nav > a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.logo-type{
    color: #fff;
}
.logo-type > img{
    pointer-events: none !important;
    width: 150px;
}
nav{
    background-color: #ffffff05;
    backdrop-filter: blur(12px);
    padding:10px 30px;
    border-radius: 50px;
    border: 1px solid #55555544;
    display: flex;
    gap: clamp(15px,3vw,100px);
    animation: animatio-nav-bar-link 1s ease-in-out;
}
.link-nav-bar{
    position: relative;
}

.link-nav-bar > p{
    font-family: "Major Mono Display", monospace;
    font-weight: 600;
    font-size: 13px;
    animation: animatio-nav-bar-link 1.2s ease ;
    position: relative;
    letter-spacing: 1px;
}
.link1:hover{
    transition: .5s;
}
.link1::before,.link2::before,.link3::before,.link4::before{
    position: absolute;
    content: '';
    top: 99%;
    left: 0%;
    height: 2px;
    width: 0%;
    transition: .5s;
    margin-top: 2px;
    background-color: #fff;
}

.link1:hover::before,.link2:hover::before,.link3:hover::before,.link4:hover::before{
    content: '';
    top: 100%;
    left: 0%;
    height: 2px;
    width: 100%;
    transition: .5s;
    background-color: #fff;
    margin-top: 2px;
}
.link2{
    font-family: "Major Mono Display", monospace;
    font-weight: 600;
    font-size: 13px;
    animation: animatio-nav-bar-link 1.6s ease ;
    position: relative;
    letter-spacing: 1px;
}
.link3{
    font-family: "Major Mono Display", monospace;
    font-weight: 600;
    font-size: 13px;
    animation: animatio-nav-bar-link 2s ease ;
    position: relative;
    letter-spacing: 1px;
}
.link4{
    font-family: "Major Mono Display", monospace;
    font-weight: 600;
    font-size: 13px;
    animation: animatio-nav-bar-link 2.6s ease ;
    position: relative;
    letter-spacing: 1px;
}
.redirect-Login{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 20px;
}
.logo-type > img{
    animation: animatio-nav-bar-link 1.5s linear;
}
.createAccount{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "Major Mono Display", monospace;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    animation: animatio-nav-bar-link .5s linear;
    padding: 5px 10px;
}
.loginBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    animation: animatio-nav-bar-link 1s linear;
    padding: 5px 10px;
}
.loginBtn > p,.createAccount > p{
    position: relative;
    z-index: 99999999;
    font-family: "Major Mono Display", monospace;
    text-align: center;
}
.loginBtn::before, .createAccount::before{
    content: '';
    position: absolute;
    background-color: #fff;
    width: 0;
    top: 0;
    height: 100%;
    transition: .5s;
}
.loginBtn:hover::before, .createAccount:hover::before{
    color: #000;
    transition: .5s;
    width: 100% !important;
    border-radius: 2px;
}
.loginBtn:hover,.createAccount:hover{
    transition: .5s;
    color: #000;

}
.nav-bar-hamburg{
    display: none;
}
/*header*/



/*home*/
#Home{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    z-index: 999;
    padding: 1px;
    animation: animation-home-bg 1s ease;
    position: relative;
}
#Home > div{
    position: relative;
    height:100%;
    width: 100%;
    background: #333;
    border-radius: 10px;
    background: radial-gradient(circle, rgba(34,34,34,1) 0%, rgba(0,0,0,1) 100%);
    background-size: 300% 300%;
    background-position: left bottom;
    animation: animation-home-bg 1s ease;
    z-index: 9999999;
}
#Home::before{
    content: '';
    position: absolute;
    background-color: #000;
    left: 0;
    top: 0;
    z-index: 999;
    width: 40px;
    height: 40px;
    animation: animation-cubo-border 10s ease-in-out infinite;
    animation-timing-function: linear;
}
/*home*/
/*contact*/
#contact{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
    min-height: 50vh;
    width: 100%;
    z-index: 999;
    animation: animation-home-bg 1s ease;
    position: relative;
}
#contact > div{
    width: 50%;
}
.title-contact{
    color: #fff;
    font-family: "Major Mono Display", monospace;
    font-size: 56px;
}
.container-form > form{
    display: flex;
    flex-direction: column;
    color: #fff !important;
}
.container-form > form > div{
    display: flex;
    flex-direction: column;
    color: #fff !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-form > form > div  > label{
    margin-bottom: 5px;
    font-size: 24px;
    color: #fff !important;
    font-family: "Major Mono Display", monospace;
}
.container-form > form > div  > input{
    font-size: 24px;
    background-color: #333;
    border-radius: 5px;
    border: none;
}
.change-yes-or-not{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.value-input{
    font-family: "Major Mono Display", monospace;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #111;
    border: 2px solid #888;
    transition: .5s;
}
.select-value{
    background-color: #fff;
    color: #000;
    transition: .5s;
    border: 2px solid #fff;
}
/*contact*/

/**Mouse-pointer-cicle**/
.circle-pointer-mouse {
    position: absolute;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
     /* Cor azul com opacidade */
    pointer-events: none; /* O círculo não interfere nos outros elementos */
    transform: translate(-50%, -50%); /* Centraliza o círculo no ponto do mouse */
    z-index: 9999999999999999999;
}
/*MEDIA SCREEN*/
@media only screen and (max-width: 1000px) {
    header{
        justify-content: center !important;
    }
    nav{
        display: none !important;
    }
    .loginBtn{
        display: none !important;
    }
    #nav-bar-mobile{
        padding: 10px;
        width: 100%;
        position: fixed;
        bottom: 0%;
        height: 75px;
        left: 0%;  
        z-index: 99999;
    }
    #nav-bar-mobile > div{
        background-color: #333;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        border-radius: 50px;
        padding: 10px;
    }
    #nav-bar-mobile > div > div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 50px;
    }
    #nav-bar-mobile > div > div:hover{
        background-color: #fff;
        transition: .5s !important;
    }
    #nav-bar-mobile > div > div:hover > img{
        filter: invert(0);
    }
    #nav-bar-mobile > div > div > img{
        width: 15px;
        height: 15px;   
        filter: invert(1);
    }

    /*contatct*/
    #contact{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    /**contact/
    #Home{
        height: 75vh  !important;
    }


    .circle-pointer-mouse{
        display: none !important;
    }
}
/*MEDIA SCREEN*/
/*animation*/
@keyframes animatio-nav-bar-link{
    0%{
        opacity: 0;
        position: relative;
        bottom: -10px;
    }
    25%{
        opacity: 0;
        position: relative;
        bottom: -2.5px;
    }
    50%{
        opacity: 0;
        position: relative;
        bottom: -5px;
    }
    75%{
        opacity: 0;
        position: relative;
        bottom: -7.5px;
    }
    100%{
        opacity: 1;
        position: relative;
        bottom: 0px;
    }
}
@keyframes animation-home-bg{
    0%{
        background-size: 150% 150%;
        opacity: 0;
        scale: 1.1;
    }
    100%{
        background-size: 300% 300%;
        opacity: 1;
        scale: 1;
    }
}
@keyframes animation-home-bg-between{
    0%{
        background-size: 150% 150%;
        opacity: 0;
        scale: 1.1;
    }
    100%{
        background-size: 300% 300%;
        opacity: 1;
        scale: 1;
    }
}
@keyframes animation-home-container{
    0%{
        opacity: 0;
        scale: 1.1;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}
@keyframes animation-cubo-border{
    0%{
        top: -1%;
        left: -2%;
    }
    25%{  
        top: 99%;
        left: -2%;
    }
    60%{
        top: 99%;
        left: 99.5%;
    }
    85%{
        top: -1%;
        left: 99.5%;
    }
    100%{
        top: -1%;
        left: -2%;
    }
}
/*animation*/