:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(32deg,rgba(0, 0, 0, 1) 0%, rgba(34, 34, 34, 1) 100%);
}
#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
}
.linksNavBar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
  transition: .5s;
}
.linksNavBar:hover{
  background-color: #ffffff;
  transition: .5s;
}
.linksNavBar:hover > img{
  filter: invert(.7);

}
.linksNavBar:focus{
  background-color: #ffffff;
}
.linksNavBar:focus > img{
  filter: invert(1) !important;
}
.navBar{
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navBar > ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  background-color: #121212;
  width: 65px;
  padding: 10px;
  box-shadow: rgb(20, 20, 20) 3px 3px 6px 0px inset, rgba(20, 20, 20, 0.5) -3px -3px 6px 1px inset;
  height: 90vh;
  border: 2px solid #fff;
}
.homeSection,.loginSection,.myAccountSection{
  width: 90vw;
}
.img-nav-bar{
  max-width: 30px;
}

.navBarUtilizarion{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (max-width: 1080px) {
  .navBar{
    width: 13vw !important;
  }
}
































a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
